---
navigation:
- text: Home
  url: /vwdd/index.html
- text: Voor wie?
  url: /vwdd/voorwie.html
- text: Aanmelden
  url: /vwdd/aanmelden.html
- text: Programma
  url: /vwdd/programma.html
- text: Organisatie
  url: /vwdd/organisatie.html
- text: Contact
  url: /vwdd/contact.html
---

<!DOCTYPE html>
<html>
  <head>
    <title>Veilig werken, denken, doen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="css/specifics.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="clearfix">
          <a class="brand" href="index.html">Veilig werken, denken, doen</a>
          <ul class="nav pull-right">

            {% for link in page.navigation %}
              <li {% if page.url == link.url %}class="active" {% endif %}>
              <a href="{{link.url}}">{{link.text}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="span12 tegekkebox">
          <div class="span3 offset8 aanmeldbox"><p><strong>13 november 2014</strong><p><p>Diergaarde Blijdorp Rotterdam</p><p><a href="/vwdd/aanmelden.html"><button class="btn btn-danger">Nu aanmelden</button></a></p></div>
        </div>
      </div>
      {{ content }}
    </div>




    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>